body {
    font-family: Arial, sans-serif;
    background-color: #faeee3; /* Cor de fundo do body */
    color: #887766; /* Cor do texto */
}

button {
    background-color: #5e282c; /* Cor do botão */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

button:hover {
    background-color: #a69482;
}

#listaProdutos {
    margin-top: 20px;
}

#listaProdutos div {
    background-color: #c5b2a0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#listaProdutos p {
    margin: 0;
}

.separator {
    border-top: 1px solid #faeee3;
    margin-top: 20px;
    margin-bottom: 20px;
}