body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faeee3; /* Cor de fundo do body */
    color: #887766; /* Cor do texto */
}

div {
    background-color: #c5b2a0; /* Cor de fundo da div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: #fff;
    text-align: center; /* centraliza os elementos dentro da div */
}

input[type="text"],
input[type="password"] {
    padding: 15px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    width: calc(100% - 30px); /* ajuste para considerar o padding */
    box-sizing: border-box; /* inclui padding e borda na largura total */
    margin-bottom: 20px; /* espaço entre os campos */
}

input[type="radio"] {
    margin-right: 10px; /* espaço entre os botões de rádio */
}

button {
    background-color: #5e282c; /* Cor do botão */
    border: none;
    padding: 15px 30px; /* ajusta o padding horizontal para criar espaço entre os botões */
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin: 0 10px; /* cria espaço entre os botões */
}

button:hover {
    background-color: #a69482; /* Cor do botão ao passar o mouse */
    cursor: pointer;
}

.btn-ok:hover,
.btn-cancelar:hover {
    background-color: #faeee3; /* Cor do botão ao passar o mouse */
    color: #5e282c; /* Cor do texto ao passar o mouse */
    cursor: pointer;
}

/* Estilos para os campos Nome e CPF */
input[type="text"] {
    margin-bottom: 20px; /* espaço entre os campos */
}

